<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/css")
	@RenderSection("Styles", false)

	@Scripts.Render("~/bundles/prefixfree")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("Script", false)

</head>
<body class="preview " data-spy="scroll" data-target=".subnav" data-offset="80">
<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
				class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</a><a class="brand" href="../">Congregation</a>
			<div class="nav-collapse collapse" id="main-menu">
				<ul class="nav">
					<li><a href="@Url.Action("Full","Directory")">Directory</a></li>
					<li><a href="@Url.Action("Map","Directory")">Map</a></li>					
					<li><a href="#">Search</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main container box-shadow ">

	@RenderBody()
	<br class="clearfix" style="width:100%; clear:both;"/>
	<!-- Footer ================================================== -->
	<footer class="footer clearfix" style="width:100%">
		<p class="pull-right"><a href="#">Back to top</a></p>
	</footer>
</div>
<!-- /container -->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("LateScript", required: false)
</body>
</html>
